<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MDM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MDM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="MDM.Properties.Settings.MDMConnectionString" connectionString="Data Source=MDM.db;Version=3;New=False;Compress=True;DateTimeFormat=CurrentCulture;"
      providerName="System.Data.SQLite.EF6" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <applicationSettings>
    <MDM.Properties.Settings>
      <setting name="ManAddr" serializeAs="String">
        <value>Zat a.s.|K Podlesí 541|26180 Příbram VI|Czech Republic||Ph.: +420 318 652 111|Fax: +420 318 627 471|E-mail: mdm@zat.cz|www: www.zat.cz</value>
      </setting>
      <setting name="ProtBy" serializeAs="String">
        <value>PV 2006-665, PUV 2006-18183</value>
      </setting>
      <setting name="ProtByRU" serializeAs="String">
        <value>ПB 2006-665, ПYB 2006-18183</value>
      </setting>
    </MDM.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <MDM.Properties.Settings>
      <setting name="lang" serializeAs="String">
        <value>cs</value>
      </setting>
      <setting name="NOC" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="NOP" serializeAs="String">
        <value>13</value>
      </setting>
      <setting name="ProcDur" serializeAs="String">
        <value>1800</value>
      </setting>
      <setting name="LanIP" serializeAs="String">
        <value>10.10.18.3</value>
      </setting>
      <setting name="langs" serializeAs="String">
        <value>cs|en|ru</value>
      </setting>
      <setting name="CountedProcAfter" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="MinProcInterval" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="langNames" serializeAs="String">
        <value>Čeština|English|Pусский</value>
      </setting>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
    </MDM.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.102.0" newVersion="1.0.102.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>