<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MDM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MDM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MDM.Properties.Settings.MDMConnectionString" connectionString="Data Source=MDM.db;Version=3;New=False;Compress=True;DateTimeFormat=CurrentCulture;"
            providerName="System.Data.SQLite.EF6" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <applicationSettings>
        <MDM.Properties.Settings>
            <setting name="ManAddr" serializeAs="String">
                <value>Zat a.s.|K Podlesí 541|26180 Příbram VI|Czech Republic||Ph.: +420 318 652 111|Fax: +420 318 627 471|E-mail: mdm@zat.cz|www: www.zat.cz</value>
            </setting>
            <setting name="ProtBy" serializeAs="String">
                <value>PV 2006-665, PUV 2006-18183</value>
            </setting>
            <setting name="ProtByRU" serializeAs="String">
                <value>ПB 2006-665, ПYB 2006-18183</value>
            </setting>
        </MDM.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <MDM.Properties.Settings>
            <setting name="lang" serializeAs="String">
                <value>cs</value>
            </setting>
            <setting name="NOC" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="NOP" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="ProcDur" serializeAs="String">
                <value>1800</value>
            </setting>
            <setting name="LanIP" serializeAs="String">
                <value>10.10.18.3</value>
            </setting>
            <setting name="langs" serializeAs="String">
                <value>cs|en|ru</value>
            </setting>
        </MDM.Properties.Settings>
    </userSettings>
</configuration>
